header {
  display: flex;

  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-bottom: 2px solid #ffc107;
}

.header__column {
  display: flex;
  align-items: center;
}

.header__column > h1 {
  font-size: 30px;
}

#mainSection {
  border: black 1px solid;
  text-align: center;
  padding: 130px 10px 10px 10px;
}
.order_form {
  border: none;
  width: 300px;  
  min-height: 100px;
  background-color: #EEEFF1;
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
